* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  line-height: 1.6;
  background: lightgrey;
  color: #333;

}

header {
  background:grey;
  color: #fff;
  padding: 80px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
    color:pink;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  
}

.project-card {
  background: rgb(241, 238, 238);
  padding: 1rem;
  margin: 1rem 0;
  border-left: 5px solid #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
  
}

footer {
  text-align: center;
  padding: 1rem;
  background: grey;
  color: white;
}
